<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Phishing Website Detection</title>
    <link href="{{url_for('static', filename='styles/main.css')}}" rel="stylesheet" />
  </head>

  <body>
    <div class="banner">
      <br>
      <br>
     <ul>
      <li ><a href="{{url_for('about')}}">About Us</li></a>
      <li><a href="{{url_for('info')}}">Project Info</li></a>
      <li><a href="{{url_for('main')}}">Home</li></a>
    </ul>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
    <p><h2>Data Science Machine Learning Project</h2>
      </p>
<p class="prezi">
    <iframe src="https://prezi.com/p/sqhj9xigwv-b/embed/" id="iframe_container" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" allow="autoplay; fullscreen" height="400" width="600"></iframe>
</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
  </body>
  </html>
